<h2>I am the Contact Page</h2>


{{#each people}}

    <p>{{this}}</p>
{{/each}}

<hr>

{{#each user}}

    <p>{{@key}}: {{this}}</p>

{{/each}}

<hr>


{{#each lists as |xValue xKey|}}

    {{#each xValue.items as |yValue yKey|}}

       <p> {{yValue}}</p>
    {{/each}}

    <hr>

{{/each}}